= render layout: "admin/shared/tabbed", locals: {tab: "pages"} do
  %table.admin-table
    %tr
      %th Title
      %th Last updated
      %th Operations
    - @pages.each do |page|
      %tr{ class: cycle("even", "odd")}
        %td= page.title
        %td= page.updated_at
        %td
          = link_to "Edit", edit_admin_page_url(page)
          |
          = link_to "Show", page_url(page)
          |
          = link_to "Delete", admin_page_url(page), :method => :delete, data: {confirm: "Are you sure you want to delete this page?"}
  %p= link_to "Create new page", new_admin_page_url
