<h1>Editing T-Shirt</h1>
<%= form_for @tshirt_order do |f| %>
<%= render 'shared/error_messages', :target => @tshirt_order %>
<p>Name: <%= f.text_field :name %></p>
<p>T-Shirt: <%= f.select :tshirt_id, @tshirts.collect {|t| [pretty_title(t), t.id]} %></p>
<p>Quantity: <%= f.text_field :qty %></p>
<p>Received? <%= f.check_box :received %></p>
<p>Paid? <%= f.check_box :paid %></p>
<%= f.submit 'Save Changes' %>
<% end %>
