<h1>T-Shirt listing</h1>
<table class="content-box data">
<tr>
<th>Name</th>
<th>T-Shirt</th>
<th>Price</th>
<th>Quantity</th>
<th>Ext. Price</th>
<th>Received?</th>
<th>Paid?</th>
<th>&nbsp;</th>
</tr>
<% @tshirt_orders.each do |order| %>
<tr class="<%= cycle('r0','r1') -%>">
<td><%= order.name %></td>
<td><%= order.tshirt.name %></td>
<td><%= price(order.tshirt.price) %></td>
<td><%= order.qty %></td>
<td><%= price(order.tshirt.price * order.qty) %></td>
<td><%= order.received ? 'yes' : 'no' %></td>
<td><%= order.paid ? 'yes' : 'no' %></td>
<td>
<%= link_to 'Edit', edit_tshirt_order_path(order) %>
<%= link_to 'Destroy', order, :confirm => 'Are you sure?', :method => :delete %>
</td>
</tr>
<% end %>
</table>
<p><%= link_to 'Order a new T-Shirt', new_tshirt_order_path %></p>
