<h1>Order a T-Shirt</h1>
<% if @tshirts.size == 0 %>
<p>There are no T-Shirts available to order at this time.</p>
<% else %>
<%= form_for @tshirt_order do |f| %>
<%= render 'shared/error_messages', :target => @tshirt_order %>
<p>Name: <%= f.text_field :name %></p>
<p>Tshirt: <%= f.select :tshirt_id, @tshirts.collect {|t| [pretty_title(t), t.id]} %></p>
<p>Quantity: <%= f.text_field :qty %></p>
<p><%= f.submit 'Place Order ' %></p>
<% end %>
<% end %>
