%h2 User listing
%table#user-listing
  %tr
    %th Login
    %th Name
    %th Email
    %th User level
    %th Actions
  - @users.each do |user|
    %tr
      %td= user.login
      %td= user.first_name + " " + user.last_name
      %td= user.email
      %td= user.user_level
      %td
        = link_to image_tag("page_go.png"), user_path(user)
        = link_to image_tag("page_edit.png"), edit_user_path(user)
        = link_to image_tag("page_delete.png"), user_path(user), :method => :delete, :data => { :confirm => "Are you sure?" }