= link_to (image_tag "ALLIES_Logo_BlackText.png", id: "logo"), root_url
%ul#topnav
  %li= link_to "Home", root_url
  %li= link_to "Contact", page_url("about")
  %li= link_to "Office Hours", page_url("office-hours")
  %li= link_to "Activities", page_url("activities")
  %li= link_to "Resources", page_url("resources")
  - if user_signed_in?
    - if editor?
      %li= link_to "Admin", admin_root_url
    - else
      %li= link_to "Account", edit_registration_url(current_user)
    %li= link_to "Log out", destroy_user_session_url, :method => :delete
  - unless user_signed_in?
    %li= link_to "Log in", new_user_session_url
#roomstatus{ :class => "rs-" + @status.status.to_s }
  %h3 SoHo is #{@status.status.to_s}
  - if @status.user
    %p.updated (Last updated: #{@status.display_time} by #{@status.user.first_name})
  - if !@status.user
    %p.updated (Last updated: #{@status.display_time})
  %p SoHo is the ALLIES office and is located on the third floor of the Cohen University Center, Room 335. When it is open, feel free to come by to hang out, do work, or talk with someone who is SafeZone trained. Our SafeZone trained members regularly hold #{link_to "office hours", page_url("office-hours")} in SoHo.
  - if user_signed_in?
    - if @status.open
      = form_tag :controller => '/room_statuses', :action => 'open' do
        = hidden_field_tag 'open', 'false'
        = submit_tag 'Mark SoHo closed', :class => 'inline-button'
    - if !@status.open
      = form_tag :controller => '/room_statuses', :action => 'open' do
        = hidden_field_tag 'open', 'true'
        = submit_tag 'Mark SoHo open', :class => 'inline-button'
