%ul#socialicons
  %li.twitter
    = link_to image_tag("TwitterLogo_white.png"), "https://twitter.com/cmuallies"
    %span <b>Twitter</b> <br/> <i>@cmuallies</i>
  %li.facebook
    = link_to image_tag("FB-f-Logo__blue_100.png"), "https://www.facebook.com/CMUALLIES"
    %span <b>Facebook</b> <br/> <i>CMUALLIES</i>
  %li.instagram
    = link_to image_tag("Instagram_Icon_Large.png"), "https://instagram.com/cmuallies"
    %span <b>Instagram</b> <br/> <i>cmuallies</i>
  %li.email
    = link_to image_tag("1442638338_email.png"), "mailto:allies@andrew.cmu.edu"
    %span <b>Email</b> <br/> <i>allies@andrew.cmu.edu</i>
%footer Copyright &copy; #{Time.now.year} ALLIES and Carnegie Mellon. <br/> All Rights Reserved.