#roomstatus{ :class => "rs-" + status.status.to_s }
  %p
    - if status.user
      SOHO is #{status.status.to_s} (Last updated: #{status.updated_at.strftime "%a, %b %d %H:%M"}) by #{status.user.first_name}.
    - if !status.user
      SOHO is #{status.status.to_s} (Last updated: #{status.updated_at.strftime "%a, %b %d %H:%M"}).
    :plain
      <a href="#" onclick="$('#explanatory_text').toggle('slide'); return false">What does this mean?</a>
  %p#explanatory_text{ :style => "display: none" } If the SOHO office is open, then there are SafeZone-trained members available to talk to. Feel free to stop by. If the SOHO office is marked as closed, there may not be SafeZone-trained members present, and the room may be locked.
  - if user_signed_in?
    Set room status:
    - if status.open
      = form_tag :controller => 'room_statuses', :action => 'open' do
        = hidden_field_tag 'open', 'false'
        = submit_tag 'Closed', :class => 'inline-button'
      - if status.close_at_midnight
        = form_tag :controller => 'room_statuses', :action => 'set_midnight' do
          = hidden_field_tag 'midnight', 'false'
          = submit_tag 'Keep open at midnight'
      - if !status.close_at_midnight
        = form_tag :controller => 'room_statuses', :action => 'set_midnight' do
          = hidden_field_tag 'midnight', 'true'
          = submit_tag 'Close at midnight'
    - if !status.open
      = form_tag :controller => 'room_statuses', :action => 'open' do
        = hidden_field_tag 'open', 'true'
        = submit_tag 'Open', :class => 'inline-button'