<%
@num_pages = (@books.size / 10.0).ceil
@page = ({'page' => 1}.merge params)['page'].to_i
@page = 1 if @page < 1
@books = @books[@page * 10 - 10, 10]
@next = @page + 1 if @page < @num_pages
@prev = @page - 1 if @page > 1
%>
<h1>SOHO Library</h1>

<div style="margin-bottom: 20px">
<%= form_tag :action => 'search',:method => 'GET' do %>
  <%= text_field_tag 'terms' %>
  <%= submit_tag 'Search' %>
<% end %>
</div>

<%= render 'book_table', :book_table => @books %>

<div class="link-wrapper">
<span class="left-link">
	<%= if @prev then link_to 'Previous', books_path(:page => @prev) end %>
</span>
<span class="right-link">
	<%= if @next then link_to 'Next', books_path(:page => @next) end %>
</span>
Page <%= @page %> of <%= @num_pages %>
</div>
<%= if admin? then link_to 'Add new media', new_book_path end %>
