<div class="resource">
<h3><%- if resource.url -%><%=link_to(resource.title,resource.url) -%><%- else -%><%=h resource.title %><%- end -%></h3>
  <% if resource.text %>
	<p><%= resource.text.html_safe %></p>
  <% end %>
	<% if editor? %>
		<ul class="editlinks">
			<li><%= link_to 'Edit', edit_resource_path(resource) %></li>
			<li><%= link_to 'Destroy', resource, :confirm => 'Are you sure?', :method => :delete %></li>
		</ul>
	<% end %>
</div>
