<h1>Resources</h1>

<% @resources.each_key do |category| %>
	<h2 class="effect_link"><a href="#" onclick="new Effect.toggle('<%=category.id -%>.div','blind')"><%=h category.name %></a></h2>
	<div id="<%=category.id -%>.div" class="category">
		<%= render :partial => 'resource', :collection => @resources[category] %>
	</div>
  <script type="text/javascript">
    document.getElementById('<%=category.id -%>.div').style.display = 'none'
  </script>
<% end %>

<% if editor? %>
	<%= link_to 'New Resource', new_resource_path %>
<% end %>
