<h1>Create a new resource</h1>

<%= form_for(@resource) do |f| %>
	<%= render 'shared/error_messages', :target => @resource %>

	<table>
		<tr><td><%= f.label :title %></td><td><%= f.text_field :title%></td></tr>
		<tr><td><%= f.label :url %></td><td><%= f.text_field :url %></td></tr>
		<tr><td><%= f.label :text %></td><td><%= f.text_area :text %></td></tr>
		<tr><td>Category: </td><td>
				<table>
					<tr><td><%= radio_button 'category','new_category','no',:checked => true %></td><td>Existing:</td><td><%= f.select :category_id, @categories %></td></tr>
					<tr><td><%= radio_button 'category','new_category','yes' %></td><td>New:</td><td><%= text_field 'category','name' %></td></tr>
				</table></td></tr>
		<tr><td></td><td><%= f.submit 'Create' %></td></tr>
	</table>

<% end %>
