<h1>Editing <%=h @gallery.name %></h1>
<%= form_for @gallery do |f| %>
<%= render 'shared/error_messages', :target => @gallery %>
<p>Name: <%= f.text_field :name %></p>
<p>Description: <%= f.text_area :description, :size => '80x3' %></p>

<% @gallery.images.each do |image| %>
<div class="image-listing">
<%= link_to image_tag(image.image.url(:thumb)), image_url(image) %>
<p><%=h image.caption %></p>
<p>Order: <%= text_field 'image',image.id, :size => 3, :value => image.order %></p>
</div>
<% end %>
<%= f.submit 'Update' %>
<% end %>
