<h1>New news_feed</h1>

<%= form_for(@news_feed) do |f| %>
  <%= render 'shared/error_messages', :target => @news_feed %>

  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', news_feeds_path %>
