<h1><%=link_to(h(@image.gallery.name), gallery_url(@image.gallery)) %></h1>
<div class="link-wrapper">
	<span class="left-link">
		<% if @image.prev then %>
			<%= link_to 'Previous', image_path(@image.prev) -%>
		<% end %>
	</span>
	<span class="right-link">
		<% if @image.next then %>
			<%= link_to 'Next', image_path(@image.next) -%>
	  <% end %>
	</span>
	&nbsp;
</div>
<div>
<span class="caption"><%=h @image.caption %></span>
<span class="gallery-image">
	<%= link_to image_tag(@image.image.url(:medium), :alt => h(@image.caption)), image_url(@image, :full=>'') %>
</span>
</div>
<% if admin? %>
<div>&nbsp;
	<ul class="editlinks">
	<li><%= link_to 'Edit', edit_image_path(@image) %></li>
	<li><%= link_to 'Destroy', @image, :confirm => 'Are you sure?', :method => :delete %></li>
	</ul>
</div>
<% end %>
