!!! 5
%html
  %head
    %title= layout_title
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = javascript_include_tag "https://cdn.rawgit.com/showdownjs/showdown/1.2.3/dist/showdown.min.js"
    = csrf_meta_tags
    = favicon_link_tag 'favicon.ico'
  %body
    #side-column
      = render partial: "shared/sidebar_top"
      = render partial: "shared/sidebar_bottom"
    #main-column
      - if flash[:notice]
        #notice= flash[:notice]
      - if flash[:alert]
        #alert= flash[:alert]
      = yield
    #last-column <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=andrew.cmu.edu_esks34mj1aono2mfue483hvrac%40group.calendar.google.com&amp;color=%238D6F47&amp;src=andrew.cmu.edu_lvhgtl2fbt4m2r7kaq0q5i6vg0%40group.calendar.google.com&amp;color=%235F6B02&amp;src=andrew.cmu.edu_qi7ge7gqs8fa0u58l1cqlksup0%40group.calendar.google.com&amp;color=%232952A3&amp;ctz=America%2FNew_York" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    %div{:style => "clear: both"}
