!!! 5
%html
  %head
    %title= layout_title
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = javascript_include_tag "https://cdn.rawgit.com/showdownjs/showdown/1.2.3/dist/showdown.min.js"
    = csrf_meta_tags
    = favicon_link_tag 'favicon.ico'
  %body
    #side-column
      = render partial: "shared/sidebar_top"
      = render partial: "shared/sidebar_bottom"
    #main-column
      - if flash[:notice]
        #notice= flash[:notice]
      - if flash[:alert]
        #alert= flash[:alert]
      = yield
    #last-column <iframe src="https://calendar.google.com/calendar/embed?src=prism%40andrew.cmu.edu&ctz=America%2FNew_York" style="border: 0" width="50em" height="37.75em" frameborder="0" scrolling="no"></iframe>s
    %div{:style => "clear: both"}
