<div class="content-box" id="<%= status.to_s %>">
<p>SOHO is <%= status.to_s %> (Last updated:
<%= status.created_at.strftime "%a, %b %d %H:%M" %>) by <%= status.user.first_name %>. <a href="#" onclick="new Effect.toggle('explanatory_text','blind')">What does this mean?</a></p>

<p id="explanatory_text">
If the SOHO office is open, then there are SafeZone-trained members
available to talk to. Feel free to stop by. If the SOHO office is marked as
closed, there may not be SafeZone-trained members present, and the room may 
be locked.</p>
<script type="text/javascript">
  document.getElementById('explanatory_text').style.display = 'none';
</script>
<% if logged_in? %>
	<ul class="editlinks">
    Set room status
    <li><%= form_tag :controller => 'room_statuses', :action => 'create' do %><%= hidden_field_tag 'room_status[status]', 'true' %><%= submit_tag 'Open', :class => 'inline-button' %><% end %></li>
    <li><%= form_tag :controller => 'room_statuses', :action => 'create' do %><%= hidden_field_tag 'room_status[status]', 'false' %><%= submit_tag 'Closed', :class => 'inline-button' %><% end %></li>
	</ul>
<% end %>
</div>
